{% extends 'IgorAdminBundle::layout.html.twig' %}

{% block body %}
    <ul>
        {% for section in sections %}
            <li>
                <a href="{{ path('igor_admin_crud_index', {'alias': section.alias}) }}">
                    {{ section.name }} list
                </a>
            </li>
            <li>
                <a href="{{ path('igor_admin_crud_new', {'alias': section.alias}) }}">
                    Create {{ section.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
